<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV File Upload with Progress</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        #progress-bar {
            transition: width 0.4s ease;
        }
    </style>
    <script type="module" crossorigin src="https://cdn.jsdelivr.net/npm/@gradio/lite/dist/lite.js"></script>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@gradio/lite/dist/lite.css" /> -->
</head>

<body>
    <div class="form-container max-w-full mx-auto mt-10 p-6 shadow-lg">
        <div class="grid grid-cols-3 divide-x">
            <div>
                <p>Download Area</p>

            </div>
            <div>
                <p>Params Area</p>
            </div>
            <div>
                <p>Jobs Area</p>
            </div>
        </div>
    </div>
</body>
</html>
